<div class="app-container">
  <app-loading></app-loading>
    <app-header></app-header>

    <div class="block container-fluid"
        >
      <nav class="navbar row">
        <div class="col align-self-end text-right">
          <app-user></app-user>
            <button type="button"
                    (click)="logout()"
                    class="btn btn-danger ml-1 btn-logoff">{{'LOG_OFF'| translate}}</button>
          </div>
      </nav>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>


