<div class="row pt-1 pb-3">
  <app-breadcrumbs></app-breadcrumbs>
</div>
<form [formGroup]="editCourseForm">
  <div class="form-group">
    <label for="title" class="pb-1">{{'TITLE'| translate}}</label>
    <input
      class="form-control"
      id="title"
      required
      formControlName="title"
      placeholder="Enter Title">
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger">

      <div *ngIf="title.errors.required">
        {{'REQUIRED'| translate}}
      </div>
      <div *ngIf="title.errors.maxlength">
        {{'CAN_NOT_BE_LONGER_50'| translate}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="pb-1">
      {{'DESCRIPTION' | translate}}
    </label>
    <textarea class="form-control"
              formControlName="description"
              id="description"
              required
              rows="3"></textarea>
    <div *ngIf="description.invalid && (description.dirty || description.touched)"
         class="alert alert-danger">
      <div *ngIf="description.errors.required">
        {{'REQUIRED'| translate}}
      </div>
      <div *ngIf="description.errors.maxlength">
        {{'CAN_NOT_BE_LONGER_500'| translate}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <app-creation-date formControlName="creationDate"></app-creation-date>
    <div *ngIf="creationDate.invalid && (creationDate.dirty || creationDate.touched)" class="alert alert-danger">
      <div *ngIf="creationDate.errors.invalidForm && !creationDate.errors.invalidForm.valid">
        {{creationDate.errors.invalidForm.message}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <app-duration formControlName="duration"></app-duration>
    <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert alert-danger">
      <div *ngIf="duration.errors.invalidForm && !duration.errors.invalidForm.valid">
        {{duration.errors.invalidForm.message}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <app-author formControlName="authors"></app-author>
    <div *ngIf="authors.invalid && (authors.dirty || authors.touched)" class="alert alert-danger">
      <div *ngIf="authors.errors.invalidForm && !authors.errors.invalidForm.valid">
        {{authors.errors.invalidForm.message}}
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success"
          [disabled]="!editCourseForm.valid"
          (click)="save()">{{'SAVE'| translate}}</button>
  <a [routerLink] ="['/courses']"
     class="btn btn-danger ml-1">{{'CANCEL' | translate}}</a>
</form>
