<form [formGroup]="createCourseForm">
  <div class="form-group">
    <label for="title" class="pb-1">Title</label>
    <input
           class="form-control"
           id="title"
           required
           formControlName="title"
           placeholder="Enter Title">
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger">

      <div *ngIf="title.errors.required">
        Name is required.
      </div>
      <div *ngIf="title.errors.maxlength">
        Name can not be longer then 50 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="pb-1">Description</label>
    <textarea class="form-control"
              formControlName="description"
              id="description"
              required
              rows="3"></textarea>
    <div *ngIf="description.invalid && (description.dirty || description.touched)"
         class="alert alert-danger">
      <div *ngIf="description.errors.required">
        Name is required.
      </div>
      <div *ngIf="description.errors.maxlength">
        Name can not be longer then 500 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <app-creation-date formControlName="creationDate"></app-creation-date>
    <div *ngIf="creationDate.invalid && (creationDate.dirty || creationDate.touched)" class="alert alert-danger">
      <div *ngIf="creationDate.errors.invalidForm && !creationDate.errors.invalidForm.valid">
        {{creationDate.errors.invalidForm.message}}
      </div>
    </div>
  </div>

  <!-- <app-duration formControlName="duration"></app-duration>
  <app-author formControlName="author"></app-author> -->

  <button type="submit" class="btn btn-success"
          [disabled]="!createCourseForm.valid"
          (click)="save()">Save</button>
  <a [routerLink] ="['/courses']"
     class="btn btn-danger ml-1">Cancel</a>
</form>
